.result-card{
    animation: pop 0.8s ease;
}
@keyframes pop{
    0%{
        transform: scale(0.7);
        opacity:0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
.excellent{
    color: green;
    text-shadow: 0  0 15px green;
}

.good{
    color: blue;
    text-shadow: 0 0 10px blue;
}
.practice{
    color: red;
    animation: shake 0.5s;
}
@keyframes shake{
    0%{transform: translateX(0);}
    25%{transform: translateX(-5px);}
    50%{transform: translateX(5px);}
    75%{transform: translateX(-5px);}
    100%{transform: translateX(0);}
}
